:root {
  font-family: 'Press Start 2P', monospace;
  color-scheme: light;
  background-color: #FCFCFC;
  color: rgb(100, 100, 100);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  width: 100%;
  margin: 0 auto;
  
}

a {
  color: rgb(100, 100, 100);
  text-decoration: none;
  transition: all 0.4s
}

a:hover {
  color: black;
}

#app {
  min-width: 720px;
  min-height: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 48px 680px 32px;
  grid-template-areas: "header" 
                       "console" 
                       "footer";
}

#app.debug {
  grid-template-columns: 65% 35%;
  grid-template-areas:"header header"
                      "console debugger"
                      "footer footer";
}

#app.debug aside {
  display: unset;
}

header {
  grid-area: header;
  background-color: antiquewhite;
  padding: 8px;
  line-height: 32px;
  border-bottom: 1px solid lightgray;
}

section {
   grid-area: console;
   padding: 12px;
}

aside {
   grid-area: debugger;
   background-color: #FEE;
   display: none;
   color: black;
   padding: 12px;
}

footer {
   grid-area: footer;
   text-align: center;
   padding: 12px;
   color: rgb(140, 140, 140);
   font-size: .5rem;
   border-top: 1px solid lightgray;
}

#chip-icon {
  float: left;
  margin-right: 16px;
}

#links {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

#links li {
  float: left;
  margin: 0 12px;
}

aside h2 {
  font-size: .8rem;
  line-height: 32px;
  margin: 0 0 0 32px;
}

aside img {
  float: left;
}

aside hr {
  clear: left;
  margin-top: 6px;
}

#console {
  margin: 0 auto;
  width: 720px;
}

#screen {
  text-align: center;
  padding: 6px;
}

canvas {
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
}

#panel {
  width: 640px;
  margin: 0 auto; 
  box-shadow: 0px 1px 3px 3px rgba(165,42,42,1);
  background-color:burlywood;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buzzers {
  width: 60px;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 12px;
}

#buzzers li {
  height: 10px;
  background-color: black;
  border-radius: 8px;
  margin-top: 18px;
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.75);
  transition: all .1s;
}

#buzzers.beep li {
  box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.75);
}

#leds {
  padding: 10px 8px 0 8px;
  width: 120px;

  display: grid;
  grid-template-columns: 90% 10%;
}

div.led {
  background-color: rgb(255, 0, 0, .2);
  border: 1px solid rgb(200, 0, 0, .1);
  width: 12px;
  height: 12px;
  border-radius: 7px;
}

div.led.active {
  background-color: red;
  box-shadow: 0px 0px 4px 4px rgba(255,0,0,1);
}

#options {
  width: 300px;
  padding: 8px;
}

#options button, #options select {
  background-color: antiquewhite;
  border: 2px solid burlywood;
  border-radius: 4px;
  transition: all .2s;
}

#options button, #options select {
  text-align: left;
}

#options button:hover {
  background-color:brown;
  color: antiquewhite;
}

#fileInput {
  display: none;
}

#resetButton, #debuggerButton {
  height: 32px;
}

#romSelect, #romUpload, #gamepadSelect {
  width: 100%;
  text-align: center;
}

#keyboard {
  border-spacing: 0;
}

#keyboard td, #keyboard tr {
  margin:0;
  padding: 0;
}

#keyboard button {
  background-color: antiquewhite;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 2px solid burlywood;
  border-radius: 4px;
}

#keyboard button.active {
  background-color:brown;
  color: antiquewhite;
}

#keyboard button.mapped {
  font-weight: bolder;
}

#keyboard button.not-mapped {
  color:darkgrey;
}

#rom-info {
  margin: 0 auto;
  width: 640px;
  font-size: .7rem;
  margin-top: 24px;
}

#rom-info .label {
  color: rgb(80, 80, 80);
}

#rom-info .info {
  color: rgb(120, 120, 120);
  overflow-y: auto;
  max-height: 128px;
}